.root {
    -darker: #151E2A;
    -dark: #293946;
    -secondary: #829A9D;
    -light: #F4F4F3;
    -accent: #F27E43;
    -darkaccent: #92492A;
    -fx-font-family: Roboto;
    -fx-font-smoothing-type: gray;
    -fx-focus-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: none;
}
.mainPane {
    -fx-pref-width: 500;
    -fx-pref-height: 400;
    -fx-background-color: -dark;
}
.text-field {
    -fx-pref-width: 200;
    -fx-text-fill: -light;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -dark;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -accent;
}
.jfx-dialog-layout {
    -fx-text-fill: -darkaccent;
    -fx-border-color: -light;
    -fx-background-color: -secondary;
    -fx-font-weight: normal;
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-text-fill: -darkaccent;
    -fx-font-size: 14;
    -fx-wrap-text: true;
}
.jfx-dialog-layout > .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-padding: 24 24 20 24;
}
.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center-left;
    -fx-font-weight: normal;
}
.customDialog {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
}
.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: -accent;
}
.jfx-text-field,
.jfx-password-field {
    -jfx-focus-color: -accent;
    -jfx-unfocus-color: -darkaccent;
    -fx-padding: 0.333333em 0 0.333333em 0;
    -fx-font-size: 14;
}

.label {
    -fx-text-fill: -secondary;
    -fx-fill: -secondary;
}

.mainTabPane {
    -fx-background-color: -dark;
}
.defaultButton {
    -fx-background-color: -dark;
    -fx-border-color: -darkaccent;
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-font-size: 14;
    -fx-text-fill: -light;
}

.execButton {
    -fx-font-weight: bold;
    -fx-background-color: -accent;
    -fx-border-color: -accent;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-font-size: 14;
    -fx-text-fill: -light;
}


.treeContainer {
    -fx-background-color: -darker;
    -fx-container-color: -darker;
    -fx-max-width: 250;
    -fx-padding-top: 20;
}
.tree-view,
.projectTree {
    -fx-background-color: transparent;
    -fx-container-color: transparent;
    -fx-font-size: 14;
    -fx-border-width: 0;
}

.tree-cell {
    -fx-background-color: -darker;
    -fx-container-color: -darker;
    -fx-text-fill: -light;
    -fx-padding: 10;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: -light;
}
.tree-cell > .selection-bar {
    -fx-background-color: -accent;
    -fx-pref-width: 2;
}
.tree-cell:focused {
    -fx-font-weight: bold;
    -fx-background-color: -darkaccent;
    -fx-border: none;
    -fx-text-fill: -light;
}
